@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-color: #202020 #e8d8c8; 
  scrollbar-width: thin;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -ms-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
}

html.dark {
  scrollbar-color: #7c8fd1 #2a2b39; 
}

html, body {
  overflow-x: hidden;
}

*::selection {
  background-color: #202020 !important; 
  color: #e8d8c8 !important; 
}

html.dark *::selection {
  background-color: #96a6e2 !important; 
  color: #2a2b39 !important; 
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  line-height: 2.75rem; 
  font-weight: 700; 
  color: #202020;
}

h2 {
  font-size: 1.75rem; 
  line-height: 2.25rem; 
  font-weight: 600;
  color: #202020; 
}

h3 {
  font-size: 1.5rem; 
  line-height: 2rem; 
  font-weight: 500;
  color: #202020; 
}

h4 {
  font-size: 1.125rem; 
  line-height: 1.75rem;
  font-weight: 500;
  color: #202020;
}

p {
  font-size: 1rem;
  line-height: 1.75rem; 
  font-weight: 400;
  color: #202020; 
}

h2, p {
  color: #202020; 
}

/* Dark mode */
html.dark h1 {
  color: #7c8fd1;
}

html.dark h2,
html.dark h3,
html.dark h4 {
  color: #7c8fd1;
}

html.dark p {
  color: #96a6e2; /* Dark mode text */
}

html.dark a {
  color: #8BE9FD; /* Dark mode link color */
}

#tags button:hover {
  cursor: none;
}
