---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Data";
---

<BaseLayout title={title}>
  <div class="mt-20 px-4 sm:px-6 md:px-8 xl:px-10">
    <h2 class="text-3xl font-semibold mb-8 text-center">Data Visualizations</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
      <figure class="flex justify-center">
        <embed class="w-full h-auto object-contain" src="https://wakatime.com/share/@SieepCoding/7fc74466-aa5d-4194-84fd-12b7348c3738.svg"></embed>
      </figure>
      <figure class="flex justify-center">
        <embed class="w-full h-auto object-contain" src="https://wakatime.com/share/@SieepCoding/9ad150f8-d85a-40fd-839e-7b965fd4042a.svg"></embed>
      </figure>
      <figure class="flex justify-center">
        <embed class="w-full h-auto object-contain" src="https://wakatime.com/share/@SieepCoding/317afa42-6ed7-4434-aa39-b931d9f949d0.svg"></embed>
      </figure>
      <figure class="flex justify-center">
        <embed class="w-full h-auto object-contain" src="https://wakatime.com/share/@SieepCoding/f373e63e-0ca3-43e5-a594-e1856ef199a9.svg"></embed>
      </figure>
    </div>
  </div>
</BaseLayout>
