---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "License";
---

<BaseLayout title={title}>
        <br />
        <br />
        <div class="justify-center mt-12">
            <h3 class="text-primary text-semibold">License</h3>
          <a class="mb-12">https://github.com/Sieep-Coding/sieep-coding.github.io/blob/main/LICENSE</a>
        </div>
</BaseLayout>
