---
import BaseLayout from "../layouts/BaseLayout.astro";
import ToolCard from "../components/Astro/ToolCard.astro";

const tools = [
  {
    name: "Snow Simulation",
    description: "A physics-based snow simulation built with C and raylib. Can be used as a simple program to teach basic physics concepts or as a fun visualizer for snow.",
    link: "https://github.com/Sieep-Coding/snow-simulation",
    price: "FREE",
    rating: 5,
    platform: "Linux",
  },
  {
    name: "Web Crawler",
    description: "A fast web crawler designed to scrape and analyze website data in a simple CLI.",
    link: "https://github.com/Sieep-Coding/web-crawler",
    price: "FREE",
    rating: 5,
    platform: "Linux, Windows, MacOS",
  },
  {
    name: "NoteZone",
    description: "A feature-rich note-taking application.",
    link: "https://github.com/Sieep-Coding/notezone",
    price: "FREE",
    rating: 5,
    platform: "Linux, Windows, MacOS",
  },
  {
    name: "NotePad",
    description: "A lightweight and minimalistic notetaking application.",
    link: "https://github.com/Sieep-Coding/NotePad",
    price: "FREE",
    rating: 5,
    platform: "Windows",
  },
  {
    name: "Spark",
    description: "A blazing-fast GUI tool for managing and organizing releationship and project data.",
    link: "https://github.com/Sieep-Coding/spark",
    price: "FREE",
    rating: 5,
    platform: "Linux, Windows, MacOS",
  },
  {
    name: "Laptop CLI",
    description: "A command-line utility for managing an inventory. This was used by me to manage data on laptop inventory.",
    link: "https://github.com/Sieep-Coding/laptop-cli",
    price: "FREE",
    rating: 5,
    platform: "Linux, Windows, MacOS",
  },
];



---

<BaseLayout title="Tools">
  <section class="max-w-6xl mx-auto my-20 px-4">
    <h1 class="text-4xl font-bold text-center mb-10">Download Tools</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {tools.map((tool) => (
        <ToolCard {...tool} />
      ))}
    </div>
  </section>
</BaseLayout>
